<!-- <!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8">

    <title>FORUM APP</title>

    <link rel="stylesheet" href="/stylesheets/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <script src="/scripts/app.js"></script>

  </head>

  <body>

    <%- include nav %>

    <%- include header %>

    <%- body %>

    <%- include footer %>

  </body>

</html> -->
