<!DOCTYPE html>

	<html lang="en">

		<head>

			<meta charset="UTF-8">

			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

		</head>


		<body>

			<div class="bs-example">

				<nav id="myNavbar" class="navbar navbar-default" role="navigation">

        <!-- Brand and toggle get grouped for better mobile display -->

        <div class="container">

            <div class="navbar-header">
                <a class="navbar-brand" href="/"><h1 id = "logo">VINYL FANTASY</h1></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->

					 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

						 <ul class="nav navbar-nav">



								<li class="dropdown" id = "dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true" id = "hamburger"></span><b class="caret"></b></a>
                        <ul class="dropdown-menu">
														<li><a href="/posts/popular">Popular Posts</a></li>
                            <li><a href="/posts/">See All Posts</a></li>
														<li class="divider"></li>
                            <li><a href="/posts/new">Create Post</a></li>
                            <li class="divider"></li>
														<li><a href="/user/logout">Logout</a></li>
                        </ul>
                </ul>

                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>
</div>
</body>
</html>
