<form action="/user" method="post">

  <input type="text"
         name="user[name]"
         placeholder="usernname"></br>

  <input type="text"
         name="user[info]"
         placeholder="Brief Bio"></br>

  <input type="text"
         name="user[password]"
         placeholder="Password"></br>

  <input type="submit">
</form>
