/* Sitewide view */

* {
    box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  font-size: 18px;
}

#logo {
  font-family: 'Creepster', cursive;
  font-size: 55px;
  margin-top: -20px;
  margin-left: -15px;
}

.post-title {
  background: #D6D6D6;
  text-decoration: bold;
  height: 65px;
  font-size: 20px;
  border: 1px black solid;
  padding: 5px 0 10px 10px;
}

.post-content {
  background: #ADADAD;
  font-size: 18px;
  border: 1px black solid;
  padding: 10px 10px 10px 10px;
  overflow: auto;

}

.post-options {
  background: #D6D6D6;
  font-size: 14px;
  border: 1px black solid;
  padding: 15px 15px 15px 15px;
}

.posts {
  margin-left: 200px;
  width: 800px;
}

#login {
  text-align: center;
}

#logintitle {
  text-align: center;
  padding-bottom: 10px;
}

#redirectlogin {
  text-align: center;
  padding-top: 20px;
}

#username {
  margin-bottom: 20px;
  border-radius: 5px;
}

#password{
  margin-bottom: 20px;
  border-radius: 5px;
}

.postcontent {
  height: 200px;
  width: 400px;
}

.newuser {
  margin-left: 200px;
  width: 800px;
  text-align: center;
}

.newpost {
  text-align: center;
}

#post-edit {
  float: right;
  margin-top: -13px;
  margin-right: 5px;
}

#commentheader {
  text-align: center;
  margin-top: 50px;
}

#comment {
  height: 200px;
  width: 800px;
}

.post-comments {
  background: #D6D6D6;
  text-decoration: bold;
  font-size: 20px;
  border: 1px black solid;
  padding: 5px 0 10px 10px;
  overflow: auto;
  margin-top: 5px;
  font-size: 18px;
}

#comment-button {
  text-align: center;
  margin-top: 20px;
  float: right;
}

.comments {
  margin-bottom: 50px;
}
