/* Sitewide view */

* {
    box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  font-size: 18px;
}

#navlink {
  color: #B20000;
  text-decoration: none;
  font-size: 20px;
}

#logo {
  font-family: 'Creepster', cursive;
  font-size: 75px;
  margin-top: -20px;
  margin-left: -15px;
  color: #CC0000;
}

.post-title {
  background: #D6D6D6;
  text-decoration: bold;
  height: 65px;
  font-size: 20px;
  border: 1px black solid;
  padding: 5px 0 10px 10px;
}

.post-content {
  background: #ADADAD;
  font-size: 18px;
  border: 1px black solid;
  padding: 10px 10px 10px 10px;
  overflow: auto;

}

.post-options {
  background: #D6D6D6;
  font-size: 14px;
  border: 1px black solid;
  padding: 15px 15px 15px 15px;
}

.posts {
  margin-left: 200px;
  width: 800px;
}

#login {
  text-align: center;
}

#logintitle {
  text-align: center;
  padding-bottom: 10px;
}

#redirectlogin {
  text-align: center;
  padding-top: 20px;
}

#username {
  margin-bottom: 20px;
  border-radius: 5px;
}

#password{
  margin-bottom: 20px;
  border-radius: 5px;
}

.postcontent {
  height: 200px;
  width: 400px;
}

.newuser {
  margin-left: 200px;
  width: 800px;
  text-align: center;
}

.newpost {
  text-align: center;
}

#post-edit {
  float: right;
  margin-right: 5px;
  margin-top: -20px;
}

#commentheader {
  text-align: center;
  margin-top: 50px;
}

.post-comments {
  background: #D6D6D6;
  text-decoration: bold;
  font-size: 20px;
  border: 1px black solid;
  padding: 5px 0 10px 10px;
  overflow: auto;
  margin-top: 5px;
  font-size: 18px;
}

#comment-button {
  text-align: center;
  margin-top: 20px;
  float: right;
}

.comments {
  margin-bottom: 50px;
}

#whoops {
  text-align: center;
}

.votes {
  float: left;
  margin-top: -15px;
  margin-right: 50px;

}

h1 {
  text-align: center;
}

#edituser {
  text-align: center;
  text-decoration: underline;
}

#edittags {
  text-align: center;
}

#postedit {
  text-align: center;
}

#postedit > input {
  text-align: left;
}

#contentedit {
  height: 200px;
  width: 600px;
}

#editsubmit {
  margin-left: 600px;;
}

#myNavbar {
  height: 75px;
  width: 1000px;
}

#loginuser {
  height: 500px;
  width: 300px;
  border: 1px black solid;
  text-align: center;
  margin-left: 150px;
}

#newuser {
  height: 500px;
  width: 300px;
  border: 1px black solid;
  float: right;
  margin-top: -500px;
  margin-right: 450px;
  text-align: center;
}

#hamburger {
  font-size: 36px;
}

#dropdown {
  margin-left: 125px;
}
