/* Sitewide view */

* {
    box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  font-size: 18px;
}

#logo {
  font-family: 'Creepster', cursive;
  font-size: 55px;
  margin-top: -20px;
  margin-left: -15px;
}

.post-title {
  background: #D6D6D6;
  text-decoration: bold;
  height: 65px;
  font-size: 20px;
  border: 1px black solid;
  padding: 5px 0 10px 10px;
}

.post-content {
  background: #ADADAD;
  font-size: 18px;
  border: 1px black solid;
  padding: 10px 10px 10px 10px;

}

.post-options {
  background: #D6D6D6;
  font-size: 14px;
  border: 1px black solid;
  padding: 10px 10px 10px 10px;
}

.posts {
  margin-left: 200px;
  width: 800px;
}
