<form action="/posts" method="post">

  <input type="text"
         name="posts[title]"
         placeholder="Title"></br>

  <input type="text"
         name="posts[author]"
         placeholder="Author"></br>

  <input type="text"
         name="posts[content]"
         placeholder="What do you want to say?"></br>

  <input type="submit">
</form>
